<li class="chapter-item expanded ">
    <a href="{{ Url }}" class="{{ IsActive }}">
        {{#if IsCounted }}
        <strong aria-hidden="true">{{ Number }}.</strong>
        {{/if}}
         {{ Name }}
    </a>
</li>